<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Spring MVC Blog</title>
</head>

<body>
<header th:replace="layout :: site-header"/>

<!--<aside>-->
<!--    <h2>Recent Posts</h2>-->
<!--    <a href="#" th:each="p : ${latest5posts}" th:text="${p.title}"-->
<!--       th:href="@{/posts/view/{id}/(id=${p.id})}">Work Begins on HTML5.1</a>-->
<!--</aside>-->

<main id="posts">
    <div class="container">
        <h3 style="color:white">Your Blogs</h3>
        <article th:each="p : ${posts}" style="margin:30px">
            <div class="row">
                <div class="col-sm-12 ">
                    <h2 style="border-radius:20px;background:orange;color:white;margin-bottom:10px" class="title"
                        th:text="'Title : ' +${p.title}">Post Title</h2>
                    <div class="date" style="border-radius:20px;background:black;color:white;margin-bottom:10px">
                        <i>Posted on</i>
                        <span th:text="${#dates.format(p.date, 'dd-MMM-yyyy')}"></span>
                        <span th:if="${p.author}" th:remove="tag">
                    <i>by</i> <span th:text="${ p.author.username}"></span>
                </span>
                    </div>
                    <p class="content" style="text-align:left;border-radius:20px;color:white;margin-bottom:10px"
                       th:utext="${p.body}">
                        Post content</p>
                </div>
            </div>
        </article>

        <a style="margin-top:40px" class="btn btn-warning" id="createpost" href="create.html"
           th:href="@{/users/createpost}">Create New Post</a>
    </div>
</main>

<footer th:replace="layout :: site-footer"/>
</body>

</html>

