body>header {

    padding: 5px;
}

body>header>a>img, body>header a  {
    display: inline-block;
    vertical-align: middle;
    padding: 0px 5px;
    font-size: 1.2em;
}

body>footer {

    padding: 5px;
    margin: 10px 0;
    text-align: center;
}

#logged-in-info {
    float: right;
    margin-top: 18px;
}

#logged-in-info form {
    display: inline-block;
    margin-right: 10px;
}

body>aside {
    float: right;
    width: 200px;
    background: #CCC;
    padding: 15px;
    margin-left: 20px;
    margin-top: 10px;
}

body>aside h2 {
    margin: 5px 0px 15px 0px;
}

body>aside a {
    display: block;
    margin: 5px 0px;
    text-decoration: none;
}

body>main:after {
    content: '';
    display: block;
    clear: both;
}

ul#messages li {
    display: block;
    width: 80%;
    margin: 5px auto;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}

ul#messages li.info {
    background: #7f7;
}

ul#messages li.error {
    background: #d00;
    color: white;
}

.formError {
    color: red;
    font-style: italic;
    font-size: 0.9em;
}
article
{
border-radius:30px;
background:rgba(43,154,172,0.7);

box-shadow: 0px 0px 20px black;
padding:50px;
width:100%
}

#createpost
{
position:static;
bottom:0;
left:50%;
}
main{
 text-align: center;
}
body
{
    background-image: url("../img/bg.jpg");
  height:100vh;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.formbg
{
        background:rgba(43,154,172,0.7);
        border-radius:40px;
        box-shadow : 0px 0px 20px black;
        margin:40px;
        padding:50px;
}

.navbar
{
 background:rgba(255,255,255,0.4);
}